/*
 *   VARS
 *************/
$margin--mini:10px;
$margin--semi:20px;
$margin--default:40px;
$margin--double:80px;

$default-font--light:'Futura Std Light';
$default-font--book:'Futura Std Book';
$default-font--medium:'Futura Std Medium';
$default-font--bold:'Futura Std Bold';

$break--phone: 767px;
$break--tablet: 991px;
$break--desktop: 1199px;

$blue: #25235f;

/*
 *   IMPORTS
 *************/
@import 'vendor-fix';
@import 'utils';

@font-face { font-family: 'Futura Std Light'; src: url('../../fonts/futura/FuturaStd-Light.eot'); src: url('../../fonts/futura/FuturaStd-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/futura/FuturaStd-Light.woff') format('woff'), url('../../fonts/futura/FuturaStd-Light.ttf')  format('truetype'), url('../../fonts/futura/FuturaStd-Light.svg#d83a536671d160add994a83c5144bd9a') format('svg'); font-style:   normal; font-weight:  200; }
@font-face { font-family: 'Futura Std Light Italic'; src: url('../../fonts/futura/FuturaStd-LightOblique.eot'); src: url('../../fonts/futura/FuturaStd-LightOblique.eot?#iefix') format('embedded-opentype'), url('../../fonts/futura/FuturaStd-LightOblique.woff') format('woff'), url('../../fonts/futura/FuturaStd-LightOblique.ttf')  format('truetype'), url('../../fonts/futura/FuturaStd-LightOblique.svg#fce834f65d97d50a85974512d1adf040') format('svg'); font-style:   oblique; font-weight:  200; }
@font-face { font-family: 'Futura Std Book'; src: url('../../fonts/futura/FuturaStd-Book.eot'); src: url('../../fonts/futura/FuturaStd-Book.eot?#iefix') format('embedded-opentype'), url('../../fonts/futura/FuturaStd-Book.woff') format('woff'), url('../../fonts/futura/FuturaStd-Book.ttf')  format('truetype'), url('../../fonts/futura/FuturaStd-Book.svg#db02aa682b3e193ac55da3558b4b0d6e') format('svg'); font-style:   normal; font-weight:  400; }
@font-face { font-family: 'Futura Std Book Italic'; src: url('../../fonts/futura/FuturaStd-BookOblique.eot'); src: url('../../fonts/futura/FuturaStd-BookOblique.eot?#iefix') format('embedded-opentype'), url('../../fonts/futura/FuturaStd-BookOblique.woff') format('woff'), url('../../fonts/futura/FuturaStd-BookOblique.ttf')  format('truetype'), url('../../fonts/futura/FuturaStd-BookOblique.svg#e5aaccfa75b4050fd08ee20229c6009f') format('svg'); font-style:   oblique; font-weight:  400; }
@font-face { font-family: 'Futura Std Medium'; src: url('../../fonts/futura/FuturaEF Medium.eot'); src: url('../../fonts/futura/FuturaEF Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/futura/FuturaEF Medium.woff') format('woff'), url('../../fonts/futura/FuturaEF Medium.ttf')  format('truetype'), url('../../fonts/futura/FuturaEF Medium.svg#291dd96f640dbf0cd45c298017d8ba06') format('svg'); font-style:   normal; font-weight:  400; }
@font-face { font-family: 'Futura Std Medium Italic'; src: url('../../fonts/futura/FuturaStd-MediumOblique.eot'); src: url('../../fonts/futura/FuturaStd-MediumOblique.eot?#iefix') format('embedded-opentype'), url('../../fonts/futura/FuturaStd-MediumOblique.woff') format('woff'), url('../../fonts/futura/FuturaStd-MediumOblique.ttf')  format('truetype'), url('../../fonts/futura/FuturaStd-MediumOblique.svg#3487ef074a5c739d693357e96c2bc88a') format('svg'); font-style:   oblique; font-weight:  400; }
@font-face { font-family: 'Futura Std Bold'; src: url('../../fonts/futura/FuturaStd-Bold.eot'); src: url('../../fonts/futura/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/futura/FuturaStd-Bold.woff') format('woff'), url('../../fonts/futura/FuturaStd-Bold.ttf')  format('truetype'), url('../../fonts/futura/FuturaStd-Bold.svg#e6614ac1ffeb97962de474601fd3ce1d') format('svg'); font-style:   normal; font-weight:  700; }
@font-face { font-family: 'Futura Std Bold Italic'; src: url('../../fonts/futura/FuturaStd-BoldOblique.eot'); src: url('../../fonts/futura/FuturaStd-BoldOblique.eot?#iefix') format('embedded-opentype'), url('../../fonts/futura/FuturaStd-BoldOblique.woff') format('woff'), url('../../fonts/futura/FuturaStd-BoldOblique.ttf')  format('truetype'), url('../../fonts/futura/FuturaStd-BoldOblique.svg#0e0218ed55d61ccc56c68dcd7ce57449') format('svg'); font-style:   oblique; font-weight:  700; }

/*
 *   FONTS
 *************/
body{ font-family: $default-font--light;color:$blue;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;letter-spacing: 1px;}
html{font-size: 62.5%;}
body{font-size: 1.6rem;}
h1{font-family: $default-font--medium;font-size: 3.5rem;text-transform:uppercase;letter-spacing: 5px;}
h2{font-family: $default-font--medium;font-size: 3rem;text-transform:uppercase;letter-spacing: 3px;}
h3{font-family: $default-font--medium;font-size:2rem;text-transform:uppercase;letter-spacing: 1px;}
h4{font-family: $default-font--book;font-size:2rem;letter-spacing: 1px; }

@media (max-width:$break--phone){
  h1{font-size: 2.5rem;}
  h2 {font-size: 1.6rem;}
}

/*
 *   STYLES
 *************/
.sumus-gradient,
.sumus-radial-gradient{ background: #f5f5f5; background: -moz-radial-gradient(center, ellipse cover,  #f5f5f5 0%, #bebfc7 100%); background: -webkit-radial-gradient(center, ellipse cover,  #f5f5f5 0%,#bebfc7 100%); background: radial-gradient(ellipse at center,  #f5f5f5 0%,#bebfc7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#bebfc7',GradientType=1 ); }
.sumus-linear-gradient{ background: -moz-linear-gradient(left,  rgba(214,214,217,1) 0%, rgba(245,245,245,1) 52%, rgba(214,214,217,1) 100%); background: -webkit-linear-gradient(left,  rgba(214,214,217,1) 0%,rgba(245,245,245,1) 52%,rgba(214,214,217,1) 100%); background: linear-gradient(to right,  rgba(214,214,217,1) 0%,rgba(245,245,245,1) 52%,rgba(214,214,217,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d6d6d9', endColorstr='#d9d6d6d9',GradientType=1 ); }

/*
 *   ANIMATION
 *************/
@keyframes opacityIn { 0%{opacity: 0;} 100%{opacity: 1;} }
@keyframes opacityOut { 0%{opacity: 1;} 100%{opacity: 0;} }

/*
 *   ELEMS
 *************/
select{background: white;}

.btn{
  border-radius: 0px;border: 0px;width:100%;padding:10px 15px;font-family:$default-font--book;font-size: 1.4rem;

  &--blue{background: $blue;color:white;}
  &--blue:hover, &--blue:focus{background:hover-background-lighten($blue);color:white;}
}

.spacer{
  &--navbar{width:100%;height:60px;}
}

#map{width:100%;height:100%;min-height:80vh;}

/*
 *   HEADER
 *************/
.navbar{

  $this: &;

  position:fixed;top:0;left:0;right:0;z-index:50;

  &__header{position:relative;display:flex;justify-content: space-between;padding:20px;}
  &__header.has-background{background: -moz-linear-gradient(left,  rgba(214,214,217,1) 0%, rgba(245,245,245,1) 52%, rgba(214,214,217,1) 100%); background: -webkit-linear-gradient(left,  rgba(214,214,217,1) 0%,rgba(245,245,245,1) 52%,rgba(214,214,217,1) 100%); background: linear-gradient(to right,  rgba(214,214,217,1) 0%,rgba(245,245,245,1) 52%,rgba(214,214,217,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d6d6d9', endColorstr='#d9d6d6d9',GradientType=1 );}

  &__background{
    position:absolute;top:0;right:0;bottom:0;left:0;opacity: 0;
    animation-name: opacityOut;animation-duration: .2s;
  }
  &__background.active{
    position:absolute;top:0;right:0;bottom:0;left:0;opacity: 1;
    animation-name: opacityIn;animation-duration: .2s;
  }

  &__toggle{
    position:relative;z-index:52;width: 28px; height: 20px; position: relative; transform: rotate(0deg); transition: .5s ease-in-out; cursor: pointer;
    span{
      display: block; position: absolute; height: 2px; width: 100%; background: white; opacity: 1; left: 0; transform: rotate(0deg); transition: .25s ease-in-out;
      &:nth-child(1) {top: 0px;}
      &:nth-child(2), &:nth-child(3) {top: 8px;}
      &:nth-child(4) {top: 16px;}
    }
    &.open span{
      &:nth-child(1) {top: 16px; width: 0%; left: 50%; }
      &:nth-child(2) {transform: rotate(45deg); }
      &:nth-child(3) {transform: rotate(-45deg); }
      &:nth-child(4){ top: 16px; width: 0%; left: 50%; }
    }
  }
  &__logo{position:absolute;top:9px;left:0;right:0;z-index:51;text-align: center;}
  &__top-nav{
    position:relative;z-index:51;
    ul{margin-bottom: 0px;}
    li a{color:white;}
  }
  &__nav{
    position:absolute;top:60px;right:0;left:0;padding-top:calc(100vh - 60px);
    li a{font-size:3.5rem;line-height:7rem;font-family:$default-font--medium;text-transform:uppercase;color:$blue;letter-spacing: 5px;}
    li a:hover{text-decoration: none;border-bottom: 3px solid $blue;}
  }
  &__nav-content{
    position:absolute;z-index:5;top:0;left:0;right:0;bottom:0;display:flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;
    animation-duration: .2s;
    background: -moz-linear-gradient(left,  rgba(214,214,217,0.90) 0%, rgba(245,245,245,0.90) 52%, rgba(214,214,217,0.90) 100%);
    background: -webkit-linear-gradient(left,  rgba(214,214,217,0.90) 0%,rgba(245,245,245,0.90) 52%,rgba(214,214,217,0.90) 100%);
    background: linear-gradient(to right,  rgba(214,214,217,0.90) 0%,rgba(245,245,245,0.90) 52%,rgba(214,214,217,0.90) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d6d6d9', endColorstr='#d9d6d6d9',GradientType=1 );
  }

  &--blue{
    background:$blue !important;

    #{$this}__nav{height: calc(100vh - 60px);}
    #{$this}__header.has-background{background:none;}
    #{$this}__background{display:none !important;opacity: 0 !important;}
  }

  @media (max-width: $break--desktop){
    #{$this}__nav{padding-top: calc(100vh - 60px)}
  }

  @media (max-width: $break--phone){
    &__logo{top:15px;}
    &__logo img{width:94px;}
    &__nav{
      li a{font-size:2rem;line-height:4rem;letter-spacing: 2px;}
      li a:hover{border-bottom: 2px solid $blue;}
    }
  }
}

.footer{

  padding:$margin--semi 0;
  text-align:center;
  background:$blue;
  color:white;

  h3{padding:0 30px;letter-spacing: 5px;}
  h3:before{content:'';display:inline-block;margin-right: 30px;vertical-align: super;line-height: 0;border-top:2px solid white;width:50px;}
  h3:after{content:'';display:inline-block;margin-left: 30px;vertical-align:super;line-height: 0;border-top:2px solid white;width:50px;}

  a.btn-passive, a:hover.btn-passive { color: white; text-decoration: none;}
  a.btn-active{display:inline-block;text-align: center;margin: $margin--semi auto;padding:11px 35px;font-family:$default-font--medium;font-size: 1.4rem;border:1px solid white;text-decoration: none;text-transform: uppercase;color:white;}
  a.btn-active.active, a:hover.btn-active{color:$blue;background: -moz-linear-gradient(left,  rgba(214,214,217,1) 0%, rgba(245,245,245,1) 52%, rgba(214,214,217,1) 100%); background: -webkit-linear-gradient(left,  rgba(214,214,217,1) 0%,rgba(245,245,245,1) 52%,rgba(214,214,217,1) 100%); background: linear-gradient(to right,  rgba(214,214,217,1) 0%,rgba(245,245,245,1) 52%,rgba(214,214,217,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d6d6d9', endColorstr='#d9d6d6d9',GradientType=1 );}

  &__spacer{height:20px;}

  @media (max-width: $break--phone){
    h2{font-size: 1.2rem; letter-spacing: 1px}
    h2:before{margin-right: 7px;width:20px;}
    h2:after{margin-left: 7px;width:20px;}
  }

}

/*
 *   BLOCKS - DEFAULT
 *************/
.block-default{
  margin:$margin--double 0;text-align: justify;
  a{display:inline-block;text-align: center;margin-top: 30px;padding:12px 35px;font-family:$default-font--medium;font-size: 1.4rem;border:1px solid $blue;text-decoration: none;color:$blue;text-transform: uppercase}

  &--attachments{
    .block-deafult__body a:last-child{background: $blue;color:white;}
  }

  @media (max-width: $break--phone){margin:$margin--default auto;max-width: 480px;}
}

.block-image{
  div{background-size: cover;background-position: center;}
}

.block-title{

  $this: &;

  text-align: center;
  margin: $margin--double 0;
  @media (max-width: $break--tablet){margin:$margin--semi 0!important;}

  h1{margin-top: 0;}


  &--background{
    position:relative;padding-top:56.25%;background-position: center center;background-size: cover;margin:0;

    h1{font-size: 16rem;letter-spacing: 0.8rem;margin-bottom: 0px;}
    h2{font-size: 3rem;margin-top: 0;margin-bottom: 0;margin-left: - (2 * $margin--double)}

    #{$this}__content{ position:absolute;top:0;right:0;bottom:0;left:0;display:flex;flex-direction: column;justify-content: center;align-items: center; }

    @media (max-width: $break--desktop){
      h1{font-size: 10rem;letter-spacing: 0.6rem;}
    }
    @media (max-width: $break--tablet){
      margin:0 !important;
      h1{font-size: 8rem;letter-spacing: 0.4rem;}
      h2{margin-left: 0 !important;}
    }
    @media (max-width: $break--phone){
      margin:0 !important;
      h1{font-size: 3rem;letter-spacing: 0.2rem;}
      h2{font-size: 1.6rem;}

    }

  }

}

.block-three-col{

  $this: &;
  $image: #{$this}__image;
  $info: #{$this}__info;

  text-align: center;
  margin:$margin--double 0;


  h2{margin-bottom: $margin--default;margin-top: 0;letter-spacing: 5px;}

  p{text-align: justify;font-size: 1.4rem;}
  p:last-child{margin-bottom: 0;}
  a{display:block;text-align: center;margin-top: 30px;padding:12px 35px;font-family:$default-font--medium;font-size: 1.4rem;border:1px solid $blue;text-decoration: none;color:$blue;}

  #{$image}{
    display:flex;justify-content: center;align-items: center;
    img{max-height:100%;}
  }
  #{$info}{
    padding:40px;display:flex;justify-content: center;align-items: center;flex-direction: column;
    h2{margin-bottom: $margin--semi;}
    h3{margin-top: 0;margin-bottom: $margin--semi;letter-spacing: 3px;}

  }

  &--blue{
    display:flex;justify-content:space-between;align-items: center;flex-direction: column;background: $blue;padding:40px;color:white;min-height: 380px;
    a{border-color: white;color:white;text-transform:uppercase;}
  }
  &--linked-image{
    margin:0;
    #{$image}{background-size: cover;background-position: center center;}
    &:nth-child(6n+1) #{$image}{width:auto !important;right:-25px;}
    &:nth-child(6n+3) #{$image}{height: 100%; top: 100%; left: calc(-100% - 25px); width: calc(100% + 25px);}
    &:nth-child(6n+5) #{$image}{width: 100%; top: -100%; left: 100%; height: calc(100% + 25px);}
  }
  &--linked{
    margin:0;
    a{margin-top: $margin--semi;}
    #{$info}{z-index:30;background-size: 100%;}
    &:nth-child(6n+2) #{$info}{background-image: url('../../img/back-linked.png');}
    &:nth-child(6n+4) #{$info}{background-image: url('../../img/back-linked-right.png');}
    &:nth-child(6n+6) #{$info}{background-image: url('../../img/back-linked-top.png');}
  }

  @media (max-width: $break--desktop){
    &--blue{
      padding:40px 20px; min-height: 400px;
    }
    &--linked{
      margin:0;
      #{$info}{z-index:30;background-size: 100%;}
      &:nth-child(12n+2) #{$info}{background-image: url('../../img/back-linked.png');}
      &:nth-child(12n+4) #{$info}{background-image: url('../../img/back-linked-right.png');left:-100%;}
      &:nth-child(12n+6) #{$info}{background-image: url('../../img/back-linked.png');}
      &:nth-child(12n+8) #{$info}{background-image: url('../../img/back-linked-right.png');left:-100%;}
      &:nth-child(12n+10) #{$info}{background-image: url('../../img/back-linked.png');}
      &:nth-child(12n+12) #{$info}{background-image: url('../../img/back-linked-right.png');left:-100%;}
    }
    &--linked-image{
      margin:0;
      #{$image}{background-size: cover;background-position: center center;}
      &:nth-child(12n+1) #{$image}{width:auto !important;right:-25px;}
      &:nth-child(12n+3) #{$image}{width:calc(100% + 25px);left:calc(100% - 25px);height: 100%; top:0;}
      &:nth-child(12n+5) #{$image}{width:auto !important;right:-25px;top: 0;left:0; height:100%;}
      &:nth-child(12n+7) #{$image}{width:calc(100% + 25px) !important;left:calc(100% - 25px);height: 100%; top:0;}
      &:nth-child(12n+9) #{$image}{width:auto !important;right:-25px;top: 0;left:0; height:100%;}
      &:nth-child(12n+11) #{$image}{width:calc(100% + 25px);left:calc(100% - 25px);height: 100%; top:0;}
    }

  }

  @media (max-width:$break--tablet){
    &--blue, &--default{
      margin:$margin--default auto !important;
      max-width:480px !important;
      min-height: auto;

    }
  }

  @media (max-width: $break--phone){
    h2{font-size: 2.5rem}
    margin:$margin--default auto !important;
    max-width:480px !important;

    &--linked{
      margin:0 auto !important;
      max-width:480px !important;
      #{$info}{z-index:30;background-size: 100%;}
      &:nth-child(12n+2) #{$info}{background-image: url('../../img/back-linked-top.png');}
      &:nth-child(12n+4) #{$info}{background-image: url('../../img/back-linked-top.png');left:0;}
      &:nth-child(12n+6) #{$info}{background-image: url('../../img/back-linked-top.png');}
      &:nth-child(12n+8) #{$info}{background-image: url('../../img/back-linked-top.png');left:0;}
      &:nth-child(12n+10) #{$info}{background-image: url('../../img/back-linked-top.png');}
      &:nth-child(12n+12) #{$info}{background-image: url('../../img/back-linked-top.png');left:0;}
    }
    &--linked-image{
      margin:0 auto !important;
      max-width:480px !important;
      #{$image}{background-size: cover;background-position: center center;}
      &:nth-child(12n+1) #{$image}{width:auto !important;right:0;bottom:-25px;height: auto;}
      &:nth-child(12n+3) #{$image}{width:100%;left:0;height: auto;bottom:-25px;}
      &:nth-child(12n+5) #{$image}{width:100% !important;bottom:-25px;top: 0;left:0;right:0; height:auto;}
      &:nth-child(12n+7) #{$image}{width:100% !important;right:0;left:0;bottom:-25px;height: auto;}
      &:nth-child(12n+9) #{$image}{width:100% !important;right:0;left:0;bottom:-25px;height:auto;}
      &:nth-child(12n+11) #{$image}{width:100% !important;right:0;left:0;bottom:-25px;height:auto;}
    }
  }





}
.block-two-col{

  $this:&;
  $image: #{$this}__image;
  $info: #{$this}__info;

  text-align: center;
  margin:$margin--double;

  @media (max-width: $break--phone){margin:0 auto !important;max-width:480px;}

  #{$image}{
    display:flex;justify-content: center;align-items: center;background-size: cover;
    a{position:relative;z-index:20;padding:15px 35px;font-family:$default-font--medium;font-size: 1.4rem;text-transform:uppercase;background:rgba(255, 255, 255, 0.7);color:$blue;letter-spacing: 1px;}
    img{max-height:100%;}
  }
  #{$info}{
    padding:40px;display:flex;justify-content: center;align-items: center;flex-direction: column;
    *{width:100%;}
    h2{margin-bottom: $margin--default;letter-spacing: 5px}
  }

  &--linked{
    margin:0;
    &:nth-child(4n+3) #{$info}{left:100%;}
  }
  &--linked-image{
    margin:0;
    &:nth-child(4n+4) #{$image}{left:-100%;}
    &:nth-child(4n+2) #{$image}:after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;z-index:10;background-size: 100%;background-image: url('../../img/back-arrow-left.png')}
    &:nth-child(4n+4) #{$image}:after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;z-index:10;background-size: 100%;background-image: url('../../img/back-arrow-right.png')}
  }

  @media (max-width:$break--phone){
    &--linked-image{
      &:nth-child(4n+4) #{$image}{left:0;}
      &:nth-child(4n+2) #{$image}:after{background-image: url('../../img/back-arrow-top.png')}
      &:nth-child(4n+4) #{$image}:after{background-image: url('../../img/back-arrow-top.png')}

    }
    &--linked{
      &:nth-child(4n+3) #{$info}{left:0;}
    }

  }

}

.block-title+.container .block-three-col--default{margin-top:- $margin--default;}
.block-title:not(.block-title--background)+.block-default{margin-top:- $margin--mini;}
.block-title+.container .block-three-col--default{margin-top:- $margin--default;}

.block-title--background h2{margin-left: - 2 * $margin--double;}
//.alert-container+.block-title--background h2{margin-left: 0;}

.block-default+.container .block-three-col--default{margin-top:0;}
.block-title--background+.container .block-three-col--blue{
  margin-top: - (2 * $margin--double);
  @media (max-width:$break--desktop){ margin-top:- $margin--double; }
  @media (max-width:$break--tablet){ margin-top:- $margin--default; }
  @media (max-width:$break--phone){ margin-top:0px; }
}


/*
 *   SECTIONS
 *************/
.section{

  $this: &;

  &--contact{
    display: flex;flex-direction: row;
  }

  &__map{width:calc(100% - 350px);}

  &__aside{
    width:350px;text-align: right;

    address{padding:$margin--default 0;font-size: 2rem;font-family: $default-font--book;padding:$margin--semi;}
    h1{margin-top: 0;padding:$margin--mini;width:80%;float:left;font-family: $default-font--book;text-transform: capitalize;}
    span{text-align: center;padding:14px;background: white;width:20%;float:left;}
  }

  @media (max-width: $break--tablet){
    &--contact{
      display: flex;flex-direction: column;
    }
    &__map{width:100%;}
    &__aside{width:100%;text-align:left;}
    #map{min-height: 20vh}
  }


}

/*
 *   FUNDS
 *************/
.secction-fund-title{
  padding:$margin--double 0;
  background:$blue;
  color: white;
  @media (max-width:$break--phone){
    padding:$margin--semi 0;
  }
}
.section-list{
  padding:$margin--double 0;

  @media (max-width: $break--phone){
    padding:$margin--semi 0;
  }

  .key-number{display:block;text-align: center;margin: 30px 0 10px;padding:12px 35px;font-family:$default-font--medium;font-size: 1.4rem;border:1px solid $blue;text-decoration: none;color:$blue;}
  .lead { margin-top:30px; }

  label{width:100%;}
  select{width:100%;padding:6px 9px;font-size: 1.2rem;font-family: $default-font--medium;border-radius: 0;border-color: $blue;}
  .tables-info tr,
  .tables-info td { padding:0 !important; border-top:0 !important;  }
  .filters-container{margin-bottom: $margin--default;}

  .table-classes tr:first-child{font-family: $default-font--medium;text-transform: uppercase;letter-spacing: 2px;}
  .table-classes tr{cursor:pointer;position:relative !important;top:0 !important;font-family:$default-font--book;}
  .table-classes tr td{height:39px !important;}
}

.section-background{

  padding:$margin--double 0;min-height:calc(100vh - 60px);text-align: center;background-position: center;background-size: cover;display:flex;justify-content: center;align-items: center;flex-direction: column;

  h1 {font-size: 14rem;margin-top: 0px;}
  h2{margin-left: - $margin--double;margin-bottom: 0px;}

  form{text-align: left;}

  &__textarea{max-height:500px;padding:20px;margin-bottom: $margin--default;background:white;overflow: scroll;}

  &--funds{
    background-image:url('../../img/back-funds-login-2.jpg');
  }

  &--auto-height{
    min-height:auto;
  }

  @media (max-width:$break--tablet){
    h1 {font-size: 3rem}
  }
}

.section-chart{

  padding:$margin--double 0;

  .btn-group:before{content:'Select period';padding:5px 6px;font-size: 1.2rem;background:$blue;color:white;float:left;font-family:$default-font--book;}
  .btn-group{margin-bottom:$margin--default;}
  .btn{padding:3px 6px;font-size: 1.2rem;background:white;color:$blue;border:2px solid white;}
  .btn.active{box-shadow: none;border:2px solid $blue;;}

  a{ color:$blue;text-decoration: underline;}

  @media (max-width: $break--phone){
    padding:$margin--semi 0;
  }

}

.section-tables{
  padding:$margin--double 0;
  font-family:$default-font--book;

  h3{margin-bottom: $margin--default;}
  .cell{padding:$margin--mini 0;text-transform: uppercase;}
  .cell--last{background-color: $blue;color:white;text-align: center;}

  @media (max-width: $break--phone){
    padding:$margin--semi 0;

    h3{text-align: center;}
    .cell{font-size: 1.2rem;text-align: center;border-bottom: 1px solid #efefef}
  }


}

.section-bars{
  padding:$margin--double 0;

  @media (max-width: $break--phone){
    padding:$margin--semi 0;
  }


}


/* CHARTS */

.btn-group .btn{width:auto;}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut{stroke:$blue;}
.ct-series-a .ct-bar:nth-child(2n+1){stroke:$blue;}
.ct-series-a .ct-bar:nth-child(2n+2){stroke:white;}


.ct-point{stroke-width:15px;opacity: 0;}
.ct-point:hover{stroke-width:15px;opacity:1;}

.ct-area{fill-opacity:0;}

.ct-grid { stroke-width: 0px; }
.ct-series{border-bottom: 1px solid white}
.ct-grids > .ct-vertical{position:relative;z-index:10;stroke:$blue;stroke-width:1px; stroke-dasharray: 0px;}
.ct-grids > .ct-vertical + .ct-vertical{stroke-width:0px;}


.ct-label { fill: none; color: $blue; font-size: 1.2rem; line-height: 1; letter-spacing: 0px;font-family: $default-font--book;}

.ct-chart-bar-sector .ct-label.ct-horizontal,
.ct-chart-bar-geo .ct-label.ct-horizontal{position:relative;transform:rotate(-90deg);transform-origin: top left;width:90px !important;    height: 14px !important; bottom: -95px;text-align: right !important;}

#sumus-chart-nav .ct-label.ct-horizontal.ct-end,
.ct-chart-bar-sector .ct-chart-bar .ct-label.ct-horizontal.ct-end,
.ct-chart-bar-geo .ct-chart-bar .ct-label.ct-horizontal.ct-end{justify-content:flex-end;align-items: flex-end;}
.ct-chart-bar-sector .ct-chart-bar .ct-label.ct-horizontal.ct-end{height:28px !important;}

.ct-chart-bar-maturity .ct-bar, .ct-chart-bar-rating .ct-bar{stroke-width:30px;}
.ct-chart-bar-sector .ct-bar{stroke-width:25px;}

#sumus-chart-nav .ct-label.ct-horizontal.ct-end{justify-content:flex-start;align-items: flex-start;}


@media (max-width:$break--tablet){
  #sumus-chart-nav .ct-label.ct-horizontal{position:relative;transform:rotate(-90deg);transform-origin: top left;width:90px !important;    height: 14px !important; bottom: -95px;text-align: right !important;}
  #sumus-chart-nav .ct-label.ct-horizontal.ct-end{justify-content:flex-end;align-items: flex-end;}
}

/* COMPONENT */

.sumus-datepicker{

  position:relative;
  &>div:first-child{background:$blue;color:white;float:left;padding:4px 8px;font-size: 1.2rem;font-family:$default-font--book;}

  input{border-radius:0px;border:0px;display:inline-block;width:auto;outline:0 !important;width:25px;height:25px;padding:6px 9px;color:white;box-shadow:none;cursor:pointer;}
  input::placeholder{ color: $blue;opacity:1; }
  input:focus{outline:0;border:0px;}

  .bootstrap-datetimepicker-widget{font-family: $default-font--book;}
}

$tables: '.sumus-table-performance, .sumus-table-top5, .sumus-table-characteristic, .sumus-table-currency';
$bars: '#sumus-charts-fund>div>div';

#{$tables}, #{$bars}{

  margin-bottom: $margin--default;

  h3{background: $blue;text-align: center;color:white;padding:3px 0;margin-bottom: $margin--semi;}
  table td:last-child{text-align: right;}
}
