/*
 *   VARS
 *************/
$margin--mini:10px;
$margin--semi:20px;
$margin--default:40px;
$margin--double:80px;

$default-font--light:'Arial';
$default-font--book:'Arial';
$default-font--medium:'Arial';
$default-font--bold:'Arial';

$break--phone: 767px;
$break--tablet: 991px;
$break--desktop: 1199px;

$font-color: black;

/*
 *   IMPORTS
 *************/
@import 'vendor-fix';
@import 'utils';

/* import fonts here */

/*
 *   FONTS
 *************/
body{ font-family: $default-font--light;color:$font-color;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;letter-spacing: 1px;}
html{font-size: 62.5%;}
body{font-size: 1.6rem;}
h1{font-family: $default-font--medium;font-size: 3.5rem;text-transform:uppercase;letter-spacing: 5px;}
h2{font-family: $default-font--medium;font-size: 3rem;text-transform:uppercase;letter-spacing: 3px;}
h3{font-family: $default-font--medium;font-size:2rem;text-transform:uppercase;letter-spacing: 1px;}
h4{font-family: $default-font--book;font-size:2rem;letter-spacing: 1px; }

@media (max-width:$break--phone){
  h1{font-size: 2.5rem;}
  h2 {font-size: 1.6rem;}
}

/*
 *   STYLES
 *************/

/*
 *   ANIMATION
 *************/
@keyframes opacityIn { 0%{opacity: 0;} 100%{opacity: 1;} }
@keyframes opacityOut { 0%{opacity: 1;} 100%{opacity: 0;} }

/*
 *   ELEMS
 *************/

/*
 *   HEADER
 *************/
.navbar{}

.footer{}

/*
 *   BLOCKS - DEFAULT
 *************/
.block-default{}
