/* pixeden */
@font-face
{
	font-family: 'Pe-icon-7-stroke';
	src:url('../../fonts/pixeden/Pe-icon-7-stroke.eot?d7yf1v');
	src:url('../../fonts/pixeden/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('../../fonts/pixeden/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('../../fonts/pixeden/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('../../fonts/pixeden/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face { font-family: 'CircularStd-Book'; src: url('../../fonts/circular/CircularStd-Book.eot'); /* IE9 Compat Modes */ src: url('../../fonts/circular/CircularStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/circular/CircularStd-Book.woff') format('woff'), /* Modern Browsers */ url('../../fonts/circular/CircularStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../../fonts/circular/CircularStd-Book.svg#dd452d63ae05ddb466f19713a7d09fd5') format('svg'); /* Legacy iOS */ font-style:   normal; font-weight:  200; }
@font-face { font-family: 'Circular Std Bold'; src: url('../../fonts/circular/CircularStd-Bold.eot'); /* IE9 Compat Modes */ src: url('../../fonts/circular/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/circular/CircularStd-Bold.woff') format('woff'), /* Modern Browsers */ url('../../fonts/circular/CircularStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../../fonts/circular/CircularStd-Bold.svg#b333381778fc1f96de44d359c7f8b95e') format('svg'); /* Legacy iOS */ font-style:   normal; font-weight:  700; }

body{font-family: 'CircularStd-Book' !important;}
h1, h2, h3, h4, h5, b, strong, .header{font-family: 'Circular Std Bold' !important;letter-spacing: 1px;}
.header{text-transform: uppercase;}

/* layouts
********************************/

img{flex:none;}
.img-responsive{display:table;margin:0 auto;}

.btn-primary,
.btn-success{background-color: #c90123 !important;border-color: #c90123 !important;color:white !important }
.btn-info:not(.btn-icon){background-color: #4b3c3c !important;border-color: #4b3c3c !important;color:white !important}
.locale-area { background-color: #f1f1f1 !important;}

.text-red{color: #25235f ;}

a, a:hover { color: #25235f ; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:not(.btn):hover, .navbar-default .navbar-nav > .active > a:not(.btn):focus, .navbar-default .navbar-nav > li > a:not(.btn):hover, .navbar-default .navbar-nav > li > a:not(.btn):focus { color: #9A9A9A;}

.sidebar .user, .bootstrap-navbar .user{border-bottom:0px solid #25235f;}
.sidebar .user a, .bootstrap-navbar .user a,
.sidebar .nav li > a{color:white;}
.sidebar .nav li.active > a,
.sidebar .nav li:hover > a { background: rgba(0, 0, 0, 0.1); opacity: 1;}
.main-panel .container-fluid { max-width: 1200px; }
.sidebar{background-color: #c90123 !important;}
.btn-danger.btn-fill,
.login-page{background-color: #c90123 !important;}
.login-page .card{border-radius:0px;padding:0;box-shadow: 0 5px 50px 10px rgba(40, 40, 40, 0.4); }
.login-page .container-flex{display: flex; justify-content: space-between;}
.login-page .container-flex>div{display: flex; flex-direction: column;width:50% !important;}
.login-page .footer .copyright { color: #4a3c3c; }
.login-page .login-form{padding:15px 0}
.login-page .login-img{background-image:url('../../img/admin/logo--login.jpg');background-size: cover;align-items: center; justify-content: center;}
.login-page .login-img img{max-width:250px;}

.logo-text,
.nav>li *, .nav>li:hover *{color: white !important;}
.navbar-nav.nav>li *, .navbar-nav.nav>li:hover *{color: #9A9A9A !important;}

.full-page:after, .sidebar:before, .sidebar:after, .full-page:before {width:0;height:0;}

.card-schedule h4{margin-top: 0px !important;text-transform: uppercase}

.sidebar .sidebar-wrapper { height: auto;}

.main-panel{max-height:none;}

.col-sm-4.pageitem{min-height: 380px;}
.col-sm-6.pageitem{min-height: 280px;}
.pageitem .card{display:flex;flex-direction: column;align-items: center;justify-content: space-between;}
.col-sm-4.pageitem .card{min-height:350px;}
.col-sm-6.pageitem .card{min-height:250px;}

@media (max-width:767px){
	.login-page .container-flex{display:block;}
	.login-page .container-flex>div{display: block;width:100% !important;}
	.login-img{padding:30px 0;}
}



/* no more table
********************************/
.dataTables_wrapper .actions{ width: 90px;}
div.dataTables_wrapper div.dataTables_info { white-space: normal;}
.dataTables_wrapper tfoot th { font-weight: normal;}
.dataTables_wrapper tbody a{ color: inherit; text-decoration: underline;}
@media only screen and (max-width: 992px)
{
  .dataTables_wrapper table,
	.dataTables_wrapper thead,
	.dataTables_wrapper tbody,
	.dataTables_wrapper th,
	.dataTables_wrapper td,
	.dataTables_wrapper tr { display: block;}
  .dataTables_wrapper thead tr { position: absolute; top: -9999px; left: -9999px; }
  .dataTables_wrapper tr { border: 1px solid #ccc; }
	table.dataTable > tfoot { display: none; }
  table.dataTable > tbody > tr > td { border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 30% !important; white-space: normal; text-align:left; }
  table.dataTable > tbody > tr > td:before { position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap; text-align:left; font-weight: bold; }
  table.dataTable > tbody > tr > td:before { content: attr(data-title); }
}
@media only screen and (max-width: 450px)
{
  table.dataTable > tbody > tr > td { padding-left: 50% !important;}
}

/* Notify
********************************/
.flash{ display: none; }
[data-notify="progressbar"] { margin-bottom: 0px; position: absolute; bottom: 0px; left: 0px; width: 100%; height: 5px; }

/* input - requiered - error
********************************/
.input { margin-bottom: 10px; }
.required label:after { color: #e32; content: ' *'; display:inline; }
.input.error { padding: 5px; background-color: #ea9090; border-radius: 5px; }
.input .error-message { padding: 5px 0; color: white; }
@media (min-width: 768px) {
  .form-inline .large{ width: 350px; }
}

/* Tabs
******************************/
.tab-content { padding: 30px 10px 10px 10px; background-color: #fff; border-left: 1px solid #ddd;  border-right: 1px solid #ddd;  border-bottom: 1px solid #ddd; border-radius: 0 5px 5px 5px; }

/* Locale
******************************/
.locale-area { padding: 5px; background-color: #90eac1; border-radius: 5px;}
.locale-area .tab-locale { padding: 10px 5px 5px 5px; background-color: #fff; border-left: 1px solid #ddd;  border-right: 1px solid #ddd;  border-bottom: 1px solid #ddd; border-radius: 0 5px 5px 5px; }

/* map
******************************/
#map { height: 450px; }

/* FORMS some more...
*****************************/
select[multiple]{ height: 250px; }
select[multiple]:focus{ height:350px; }

.checkbox input,
.radio input { outline: none !important; opacity: 1; margin-left: 0px; position: relative; }
.checkbox input.form-control,
.radio input.form-control{height:auto !important;width:auto;}
.checkbox, .radio{padding-left: 0px;}

/* CARDS
*****************************/
.card-user .content { min-height: 50px; }
