@import 'vars';
@import 'utils';

/*
 *   FONTS
 *************/
body{ font-family: $font--default;color: map-get($colors, 'black');-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
html{font-size: 62.5%;}
body{font-size: 1.6rem;}
h1{font-family: $font--heading;font-size: 3.5rem;}
h2{font-family: $font--heading;font-size: 3rem;}
h3{font-family: $font--heading;font-size: 2rem;}
h4{font-family: $font--heading;font-size: 2rem;}

@media (max-width:$break--phone){
  h1{font-size: 2.5rem;}
  h2 {font-size: 1.6rem;}
}

/*
 *   STYLES
 *************/

/*
 *   ELEMS
 *************/
